# Assignment - 06
#### Read weather data from 
https://cli.fusio.net/cli/climate_data/webdata/hly4935.csv

In [2]:
# import necessary libraries
import pandas as pd
import seaborn as sns

In [3]:
df = pd.read_csv('https://cli.fusio.net/cli/climate_data/webdata/hly4935.csv', skiprows=23)
df.head(3)

/tmp/ipykernel_2528/2746792646.py:1: DtypeWarning: Columns (2,10,12,14,15,16,18,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('https://cli.fusio.net/cli/climate_data/webdata/hly4935.csv', skiprows=23)

,date,ind,rain,ind.1,temp,ind.2,wetb,dewpt,vappr,rhum,...,ind.3,wdsp,ind.4,wddir,ww,w,sun,vis,clht,clamt
0,10-apr-1996 14:00,0,0.0,0,11.5,0,8.1,3.9,0.0,0,...,0,0,0,0,25,81,0.0,35000,32,5
1,31-jul-1996 08:00,0,0.0,0,11.5,0,11.1,10.7,0.0,0,...,0,0,0,0,25,82,0.0,40000,45,5
2,31-jul-1996 09:00,0,0.0,0,11.6,0,10.7,9.8,0.0,0,...,0,0,0,0,80,81,0.0,8000,32,7

In [4]:
df.index = pd.to_datetime(df['date'])

/tmp/ipykernel_2528/1388267527.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.index = pd.to_datetime(df['date'])

In [5]:
# calculate the average temperature for each day
daily_avg_temp = df['temp'].resample('D').mean()
print(daily_avg_temp.info())

<class 'pandas.core.series.Series'>
DatetimeIndex: 10798 entries, 1996-04-10 to 2025-11-01
Freq: D
Series name: temp
Non-Null Count  Dtype
--------------  -----
10687 non-null  float64
dtypes: float64(1)
memory usage: 168.7 KB
None

In [6]:
# calculate the average temperature for each month
monthly_avg_temp = df['temp'].resample('M').mean()
print(monthly_avg_temp)

date
1996-04-30    11.500000
1996-05-31          NaN
1996-06-30          NaN
1996-07-31    12.650000
1996-08-31    12.946909
                ...
2025-07-31    15.068280
2025-08-31    15.178495
2025-09-30    11.368056
2025-10-31     9.900134
2025-11-30     7.400000
Freq: ME, Name: temp, Length: 356, dtype: float64

/tmp/ipykernel_2528/4093200900.py:2: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_avg_temp = df['temp'].resample('M').mean()

In [ ]:
# give column name to the daily average temperature series
daily_avg_temp.name
print(daily_avg_temp.head(3))

AttributeError: 'str' object has no attribute 'listcolumns'

# End