# Assignment - 05
#### Read Ireland Population data from 
https://data.cso.ie/#
#### In that go to pupulation FY006A
#### Get API Data Query Link to read data in csv
https://ws.cso.ie/public/api.restful/PxStat.Data.Cube_API.ReadDataset/FY006A/CSV/1.0/en
#### Read data in to CSV from link using pands
#### Dope a column using pands refer document
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html

In [54]:
# import requir library
import pandas as pd
import numpy as np

In [55]:
# read the csv file from the URL
df = pd.read_csv('https://ws.cso.ie/public/api.restful/PxStat.Data.Cube_API.ReadDataset/FY006A/CSV/1.0/en')
print(df.head(3))

   STATISTIC Statistic Label  TLIST(A1)  CensusYear C02199V02655         Sex  \
0  FY006AC01      Population       2022        2022            -  Both sexes
1  FY006AC01      Population       2022        2022            -  Both sexes
2  FY006AC01      Population       2022        2022            -  Both sexes

  C02076V03371 Single Year of Age                          C03789V04537  \
0            -           All ages                                   IE0
1            -           All ages  2ae19629-1492-13a3-e055-000000000001
2            -           All ages  2ae19629-1433-13a3-e055-000000000001

  Administrative Counties    UNIT    VALUE
0                 Ireland  Number  5149139
1   Carlow County Council  Number    61968
2     Dublin City Council  Number   592713

In [56]:
# Save to local file
FileName = 'population.csv'
Location = '../data/'

In [57]:
# Save the dataframe to a CSV file
# This CSV file save to check data locally
df.to_csv(Location + FileName, index=False)

In [58]:
# Manuplate the data as needed
# Remove unwanted columns
df.drop(columns=['STATISTIC', 'Statistic Label', 'TLIST(A1)', 'C02199V02655', 'C02076V03371', 'C03789V04537', 'UNIT'], inplace=True )
# Filter out rows where 'Single Year of Age' is 'All Ages'
df = df[df['Single Year of Age'] != 'All ages']
df = df[df['Administrative Counties'] != 'Ireland']
df = df[df['Sex'] != 'Both sexes']
# Replace some string of age in to valve
df['Single Year of Age'] = df['Single Year of Age'].replace({'Under 1 year': '0', '100 years and over': '100'})
# Remove non-digit characters and convert to integer
df['Single Year of Age'] = df['Single Year of Age'].replace('\D', '', regex=True)
df['Single Year of Age']=df['Single Year of Age'].astype('int64')

<>:11: SyntaxWarning: invalid escape sequence '\D'
<>:11: SyntaxWarning: invalid escape sequence '\D'
/tmp/ipykernel_2625/2231240295.py:11: SyntaxWarning: invalid escape sequence '\D'
  df['Single Year of Age'] = df['Single Year of Age'].replace('\D', '', regex=True)

In [59]:
# Save the cleaned dataframe to a CSV file for further analysis
df.to_csv(Location + FileName, index=False)

In [60]:
# Conver data in to the pivot table for better analysis
df_pivot = pd.pivot_table(df, columns=['Sex', 'Single Year of Age'], index=['Administrative Counties'], values ='VALUE')
print(df_pivot.head(3))
df_pivot.to_csv(Location + 'population_analysis.csv', index=False)

Sex                     Female                                            \
Single Year of Age         0      1      2      3      4      5      6
Administrative Counties
Carlow County Council    353.0  302.0  334.0  378.0  369.0  365.0  367.0
Cavan County Council     501.0  477.0  520.0  525.0  492.0  544.0  591.0
Clare County Council     691.0  704.0  744.0  745.0  766.0  799.0  789.0

Sex                                           ...  Male                    \
Single Year of Age         7      8      9    ...   91    92    93    94
Administrative Counties                       ...
Carlow County Council    455.0  404.0  435.0  ...  27.0  14.0   4.0   6.0
Cavan County Council     555.0  615.0  602.0  ...  36.0  15.0  15.0  12.0
Clare County Council     805.0  801.0  873.0  ...  49.0  28.0  20.0  14.0

Sex
Single Year of Age        95    96    97   98   99   100
Administrative Counties
Carlow County Council     2.0   3.0   2.0  2.0  1.0  0.0
Cavan County Council      8.0   7.0   3.0  1.0  0.0  6.0
Clare County Council     13.0  12.0  11.0  3.0  3.0  3.0

[3 rows x 202 columns]

In [61]:
df_pivot.columns.names

FrozenList(['Sex', 'Single Year of Age'])

In [62]:
# Get the sum of population for each counties female
counties_population = df_pivot['Female'].sum(axis=1)
counties_population.head(3)

Administrative Counties
Carlow County Council    31146.0
Cavan County Council     40644.0
Clare County Council     65021.0
dtype: float64

In [63]:
# Get the sum of population for each counties Male
counties_population = df_pivot['Male'].sum(axis=1)
counties_population.head(3)

Administrative Counties
Carlow County Council    30822.0
Cavan County Council     41060.0
Clare County Council     62917.0
dtype: float64

In [64]:
# Get the total population for Female age groups
Female_age_population = df_pivot['Female'].sum(axis=0)
Female_age_population.head(3)

Single Year of Age
0    28186.0
1    27545.0
2    28974.0
dtype: float64

In [65]:
# Get the total population for Male age groups
Male_age_population = df_pivot['Male'].sum(axis=0)
Male_age_population.head(3)

Single Year of Age
0    29610.0
1    28875.0
2    30236.0
dtype: float64

In [66]:
# Weighted mean calculation 
# calculation for weighted mean age (by sex)

ages = np.array(range(0, 101))  # Ages from 0 to 100

weighted_mean_female = np.average(ages, weights=Female_age_population)
weighted_mean_male = np.average(ages, weights=Male_age_population)
weighted_mean_female, weighted_mean_male

(np.float64(38.9397958987787), np.float64(37.7394477371039))

In [67]:
df_pivot.info()
df_pivot.header()

<class 'pandas.core.frame.DataFrame'>
Index: 31 entries, Carlow County Council to Wicklow County Council
Columns: 202 entries, ('Female', np.int64(0)) to ('Male', np.int64(100))
dtypes: float64(202)
memory usage: 49.2+ KB

AttributeError: 'DataFrame' object has no attribute 'header'

# END