# Assignment - 05
#### Read Ireland Population data from 
https://data.cso.ie/#
#### In that go to pupulation FY006A
#### Get API Data Query Link to read data in csv
https://ws.cso.ie/public/api.restful/PxStat.Data.Cube_API.ReadDataset/FY006A/CSV/1.0/en
#### Read data in to CSV from link using pands
#### Dope a column using pands refer document
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html

In [409]:
# import requir library
import pandas as pd

In [410]:
# read the csv file from the URL
df = pd.read_csv('https://ws.cso.ie/public/api.restful/PxStat.Data.Cube_API.ReadDataset/FY006A/CSV/1.0/en')
print(df.head(3))

   STATISTIC Statistic Label  TLIST(A1)  CensusYear C02199V02655         Sex  \
0  FY006AC01      Population       2022        2022            -  Both sexes
1  FY006AC01      Population       2022        2022            -  Both sexes
2  FY006AC01      Population       2022        2022            -  Both sexes

  C02076V03371 Single Year of Age                          C03789V04537  \
0            -           All ages                                   IE0
1            -           All ages  2ae19629-1492-13a3-e055-000000000001
2            -           All ages  2ae19629-1433-13a3-e055-000000000001

  Administrative Counties    UNIT    VALUE
0                 Ireland  Number  5149139
1   Carlow County Council  Number    61968
2     Dublin City Council  Number   592713

In [411]:
# Save to local file
FileName = 'population.csv'
Location = '../data/'

In [412]:
# Save the dataframe to a CSV file
# This CSV file save to check data locally
df.to_csv(Location + FileName, index=False)

In [413]:
# Manuplate the data as needed
# Remove unwanted columns
df.drop(columns=['STATISTIC', 'Statistic Label', 'TLIST(A1)', 'C02199V02655', 'C02076V03371', 'C03789V04537', 'UNIT'], inplace=True )
# Filter out rows where 'Single Year of Age' is 'All Ages'
df = df[df['Single Year of Age'] != 'All ages']
# Replace some string of age in to valve
df['Single Year of Age'] = df['Single Year of Age'].replace({'Under 1 year': '0', '100 years and over': '100'})
# Remove non-digit characters and convert to integer
df['Single Year of Age'] = df['Single Year of Age'].replace('\D', '', regex=True)
df['Single Year of Age']=df['Single Year of Age'].astype('int64')

<>:9: SyntaxWarning: invalid escape sequence '\D'
<>:9: SyntaxWarning: invalid escape sequence '\D'
/tmp/ipykernel_28333/3395586782.py:9: SyntaxWarning: invalid escape sequence '\D'
  df['Single Year of Age'] = df['Single Year of Age'].replace('\D', '', regex=True)

In [414]:
# Save the cleaned dataframe to a CSV file for further analysis
df.to_csv(Location + FileName, index=False)

In [415]:
# Conver data in to the pivot table for better analysis
df_pivot = pd.pivot_table(df,columns=['Administrative Counties'], index = ['Single Year of Age', 'Sex'], values ='VALUE')
print(df_pivot.head(3))
df_pivot.to_csv(Location + 'population_analysis.csv', index=False)

Administrative Counties        Carlow County Council  Cavan County Council  \
Single Year of Age Sex
0                  Both sexes                  699.0                1006.0
                   Female                      353.0                 501.0
                   Male                        346.0                 505.0

Administrative Counties        Clare County Council  Cork City Council  \
Single Year of Age Sex
0                  Both sexes                1377.0             2283.0
                   Female                     691.0             1124.0
                   Male                       686.0             1159.0

Administrative Counties        Cork County Council  Donegal County Council  \
Single Year of Age Sex
0                  Both sexes               4190.0                  1797.0
                   Female                   2055.0                   881.0
                   Male                     2135.0                   916.0

Administrative Counties        Dublin City Council  \
Single Year of Age Sex
0                  Both sexes               6213.0
                   Female                   3025.0
                   Male                     3188.0

Administrative Counties        Dún Laoghaire Rathdown County Council  \
Single Year of Age Sex
0                  Both sexes                                 2457.0
                   Female                                     1188.0
                   Male                                       1269.0

Administrative Counties        Fingal County Council  Galway City Council  \
Single Year of Age Sex
0                  Both sexes                 4009.0                792.0
                   Female                     1950.0                387.0
                   Male                       2059.0                405.0

Administrative Counties        ...  Monaghan County Council  \
Single Year of Age Sex         ...
0                  Both sexes  ...                    868.0
                   Female      ...                    423.0
                   Male        ...                    445.0

Administrative Counties        Offaly County Council  \
Single Year of Age Sex
0                  Both sexes                  935.0
                   Female                      454.0
                   Male                        481.0

Administrative Counties        Roscommon County Council  Sligo County Council  \
Single Year of Age Sex
0                  Both sexes                     748.0                 743.0
                   Female                         366.0                 367.0
                   Male                           382.0                 376.0

Administrative Counties        South Dublin County Council  \
Single Year of Age Sex
0                  Both sexes                       3544.0
                   Female                           1689.0
                   Male                             1855.0

Administrative Counties        Tipperary County Council  \
Single Year of Age Sex
0                  Both sexes                    1932.0
                   Female                         915.0
                   Male                          1017.0

Administrative Counties        Waterford City & County Council  \
Single Year of Age Sex
0                  Both sexes                           1340.0
                   Female                                662.0
                   Male                                  678.0

Administrative Counties        Westmeath County Council  \
Single Year of Age Sex
0                  Both sexes                    1129.0
                   Female                         535.0
                   Male                           594.0

Administrative Counties        Wexford County Council  Wicklow County Council
Single Year of Age Sex
0                  Both sexes                  1792.0                  1710.0
                   Female                       882.0                   800.0
                   Male                         910.0                   910.0

[3 rows x 32 columns]

In [416]:
# Calculate the total population for a specific district
headers = list(df_pivot.columns)

district = headers[0]
district

'Carlow County Council'

In [417]:
# Calculate the total number of people in the selected district
number_people = df_pivot[district].sum()
number_people

np.float64(123936.0)

In [418]:
df_pivot

Administrative Counties        Carlow County Council  Cavan County Council  \
Single Year of Age Sex
0                  Both sexes                  699.0                1006.0
                   Female                      353.0                 501.0
                   Male                        346.0                 505.0
1                  Both sexes                  649.0                1004.0
                   Female                      302.0                 477.0
...                                              ...                   ...
99                 Female                        6.0                   6.0
                   Male                          1.0                   0.0
100                Both sexes                    3.0                  18.0
                   Female                        3.0                  12.0
                   Male                          0.0                   6.0

Administrative Counties        Clare County Council  Cork City Council  \
Single Year of Age Sex
0                  Both sexes                1377.0             2283.0
                   Female                     691.0             1124.0
                   Male                       686.0             1159.0
1                  Both sexes                1360.0             2284.0
                   Female                     704.0             1136.0
...                                             ...                ...
99                 Female                      11.0               20.0
                   Male                         3.0                4.0
100                Both sexes                  19.0               26.0
                   Female                      16.0               20.0
                   Male                         3.0                6.0

Administrative Counties        Cork County Council  Donegal County Council  \
Single Year of Age Sex
0                  Both sexes               4190.0                  1797.0
                   Female                   2055.0                   881.0
                   Male                     2135.0                   916.0
1                  Both sexes               4115.0                  1881.0
                   Female                   2045.0                   918.0
...                                            ...                     ...
99                 Female                     17.0                    13.0
                   Male                        8.0                     5.0
100                Both sexes                 54.0                    33.0
                   Female                     43.0                    31.0
                   Male                       11.0                     2.0

Administrative Counties        Dublin City Council  \
Single Year of Age Sex
0                  Both sexes               6213.0
                   Female                   3025.0
                   Male                     3188.0
1                  Both sexes               5699.0
                   Female                   2762.0
...                                            ...
99                 Female                     49.0
                   Male                       15.0
100                Both sexes                100.0
                   Female                     80.0
                   Male                       20.0

Administrative Counties        Dún Laoghaire Rathdown County Council  \
Single Year of Age Sex
0                  Both sexes                                 2457.0
                   Female                                     1188.0
                   Male                                       1269.0
1                  Both sexes                                 2437.0
                   Female                                     1192.0
...                                                              ...
99                 Female                                       26.0
                   Male                                          6.0
100                Both sexes                                   55.0
                   Female                                       42.0
                   Male                                         13.0

Administrative Counties        Fingal County Council  Galway City Council  \
Single Year of Age Sex
0                  Both sexes                 4009.0                792.0
                   Female                     1950.0                387.0
                   Male                       2059.0                405.0
1                  Both sexes                 3894.0                757.0
                   Female                     1907.0                395.0
...                                              ...                  ...
99                 Female                       20.0                  1.0
                   Male                          2.0                  3.0
100                Both sexes                   21.0                  8.0
                   Female                       17.0                  5.0
                   Male                          4.0                  3.0

Administrative Counties        ...  Monaghan County Council  \
Single Year of Age Sex         ...
0                  Both sexes  ...                    868.0
                   Female      ...                    423.0
                   Male        ...                    445.0
1                  Both sexes  ...                    821.0
                   Female      ...                    386.0
...                            ...                      ...
99                 Female      ...                      5.0
                   Male        ...                      0.0
100                Both sexes  ...                      8.0
                   Female      ...                      7.0
                   Male        ...                      1.0

Administrative Counties        Offaly County Council  \
Single Year of Age Sex
0                  Both sexes                  935.0
                   Female                      454.0
                   Male                        481.0
1                  Both sexes                  937.0
                   Female                      446.0
...                                              ...
99                 Female                        4.0
                   Male                          0.0
100                Both sexes                    5.0
                   Female                        4.0
                   Male                          1.0

Administrative Counties        Roscommon County Council  Sligo County Council  \
Single Year of Age Sex
0                  Both sexes                     748.0                 743.0
                   Female                         366.0                 367.0
                   Male                           382.0                 376.0
1                  Both sexes                     764.0                 766.0
                   Female                         384.0                 383.0
...                                                 ...                   ...
99                 Female                           6.0                   8.0
                   Male                             3.0                   2.0
100                Both sexes                      12.0                  12.0
                   Female                           7.0                   9.0
                   Male                             5.0                   3.0

Administrative Counties        South Dublin County Council  \
Single Year of Age Sex
0                  Both sexes                       3544.0
                   Female                           1689.0
                   Male                             1855.0
1                  Both sexes                       3673.0
                   Female                           1751.0
...                                                    ...
99                 Female                             10.0
                   Male                                7.0
100                Both sexes                         36.0
                   Female                             29.0
                   Male                                7.0

Administrative Counties        Tipperary County Council  \
Single Year of Age Sex
0                  Both sexes                    1932.0
                   Female                         915.0
                   Male                          1017.0
1                  Both sexes                    1808.0
                   Female                         872.0
...                                                 ...
99                 Female                           5.0
                   Male                             5.0
100                Both sexes                      23.0
                   Female                          19.0
                   Male                             4.0

Administrative Counties        Waterford City & County Council  \
Single Year of Age Sex
0                  Both sexes                           1340.0
                   Female                                662.0
                   Male                                  678.0
1                  Both sexes                           1266.0
                   Female                                602.0
...                                                        ...
99                 Female                                 15.0
                   Male                                    4.0
100                Both sexes                             19.0
                   Female                                 15.0
                   Male                                    4.0

Administrative Counties        Westmeath County Council  \
Single Year of Age Sex
0                  Both sexes                    1129.0
                   Female                         535.0
                   Male                           594.0
1                  Both sexes                    1158.0
                   Female                         602.0
...                                                 ...
99                 Female                           3.0
                   Male                             3.0
100                Both sexes                      12.0
                   Female                           9.0
                   Male                             3.0

Administrative Counties        Wexford County Council  Wicklow County Council
Single Year of Age Sex
0                  Both sexes                  1792.0                  1710.0
                   Female                       882.0                   800.0
                   Male                         910.0                   910.0
1                  Both sexes                  1724.0                  1682.0
                   Female                       878.0                   820.0
...                                               ...                     ...
99                 Female                        15.0                     7.0
                   Male                           6.0                     1.0
100                Both sexes                    16.0                    18.0
                   Female                        14.0                    15.0
                   Male                           2.0                     3.0

[303 rows x 32 columns]

# END